body, html {
    /* background-color: gray; */
    height: 100%;
    margin:0;
    padding: 0;
    font-size: larger;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* #subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#publisher-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
} */
#publisher, #subscriber {
    width: 360px;
    height: 240px;
}
#publish-video-true {
    display: none;
}

#audio-connector-stop {
    display: none;
}

#emoji {
    font-size: 10rem;
    z-index: 10;
    position: absolute;
}

#subscriber-container {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 360px;
    height: 240px;
    position:relative
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#videos, #response {
    width: 100%;
}